/* Stiziles */

* {
    box-sizing: border-box;
}

html, body {
  /*overflow: hidden;*/
}

body {
    padding-bottom: 20px; 
    
  background: #EAEAEA;


    font-size: 1.05em;
}

/* main */

.main {
  width: 100%;

  display: flex;
  flex-flow: row wrap;
}

/* flying object */

.flying-object {
  position: absolute;
  top: 0;
}
